:root{
    --laranja-claro: #FDC180;
    --laranja-escuro: #F7941D;
    --azul: #004A8D;
    --branco: #fff;
    --preto: #000;
    --cinza-mais-claro: #F2F2F2;
    --cinza-claro: #CACACA;
    --cinza-medio: #888888;
    --roxo: #C761CB;
}